<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bitxflow.funny">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="adjustResize">
        <activity android:name=".biz.saveImg.ImgLinkActivity"></activity>
        <activity
            android:name=".biz.coupon.SnsCouponActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".biz.coupon.SelectActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".biz.snack.SnackActivity" />
        <activity
            android:name=".biz.product.ProductSelectActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".biz.product.ProductListActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".biz.beginner.BeginnerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".biz.search.RuleActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".biz.recommend.RecommendActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".biz.coupon.CouponActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".biz.intro.IntroActivity" />
        <activity android:name=".biz.fee.FeeActivity" />
        <activity
            android:name=".biz.video.VideoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".biz.video.MemoryVideoView"
            android:screenOrientation="landscape" />
        <activity
            android:name=".biz.product.ProductActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".biz.search.SearchActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".biz.login.LoginAcitivty"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>